.container {
    text-align: center;
    margin: 20px auto;
    max-width: 50%;
}

/* #intro {
    /display: none; 

} */

#question, #end-game, #answer-check, #highscores {
    display: none;
    text-align: left;
    margin: 10px;
}

.answer-btns {
    display: block;
}

.btn {
    background-color: purple;
    color: white;
}

/* children of form group */
.form-group > .hs {
    margin-top: 10px;
}

#highscore-list {
    background-color: hsla(300, 100%, 60%, 0.372);
    
}
